html,body{display:flex;
         background-color: #00bf0b;}
.container{
    height: 300px;
     width: 780px; 
    background-color: pink;
    color:#0000;
align-items: center;
justify-content: center;}
button{height:30px;
     width:100px;
    background-color: #00bf0b;
border-radius: 8px;
botton-shadow: 0;

}
#results{background-color: aliceblue;
color: #000000;
font-size: medium;
font-weight: 700;}
.left-item, .right-item{background-color: #00bf0b;
    color: #000000;
    border-top: 10px
    margin-top: 10px;
}
.box{height: 60px;
    width: 780px;
    background-color: #55f4ff;
    color:#000000;
    font-style: italic;
}
p,h1{color: #000000;}
